[MYSQL]
HOSTNAME = localhost
USERNAME = root
PASSWORD = your_mysql_password
PORT = 3306
PLUGIN = mysql_native_password

[SQLSERVER]
DATABASE = master
HOSTNAME = localhost
USERNAME = sa
PASSWORD = your_sqlserver_password
PORT = 1433
VERSION = 11.0
SSL = no