/* CSS Document */

#menu_subpage{width:174px; background:url(../startgame/images/bg_menu_startgame.gif) top center no-repeat;}
#menu_subpage ul{padding:0; margin:0; border:0;}
#menu_subpage li{list-style:none; width:174px; height:29px; padding:0; margin:0;}
#menu_subpage a{width:164px; height:29px; display:block;}
#menu_subpage a:hover{background:url(../common_image/subleft_over.gif) top left no-repeat;}

#left_contact{width:167px; height:53px; margin-top:20px;}
#left_contact a.link1{background:url(../common_image/sub_contact.gif) center no-repeat; display:block; width:167px; height:53px;}
#left_contact a.link1:hover{background:url(../common_image/sub_contact.gif) center no-repeat; display:block; width:167px; height:53px;}

#step{clear:both; max-width:520px; width:100%; padding:15px 0 0 0;}

.def_area{padding-bottom:15px;}
.minititle{padding:15px;}
.tdcontents{padding:10px;}

/*
#menu_subpage a.link1:hover{background:url(/startgame/images/menu_startgame_01.gif) top no-repeat;}
#menu_subpage a.link2:hover{background:url(/startgame/images/menu_startgame_02.gif) top no-repeat;}
#menu_subpage a.link3:hover{background:url(/startgame/images/menu_startgame_03.gif) top no-repeat;}
#menu_subpage a.link4:hover{background:url(/startgame/images/menu_startgame_04.gif) top no-repeat;}
#menu_subpage a.link5:hover{background:url(/startgame/images/menu_startgame_05.gif) top no-repeat;}
#menu_subpage a.link6:hover{background:url(/startgame/images/menu_startgame_06.gif) top no-repeat;}
#menu_subpage a.link7:hover{background:url(/startgame/images/menu_startgame_07.gif) top no-repeat;}
*/
